*{
    color:purple;
}
div{
    color:green;
}
.alert-text{
    color:red;
}
#title{
    background-color: chocolate;
}
.read{
    color:white;
    background-color: black;
}
.unread{
    color: black;
    background-color: white;
}
p{
    color:green;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
}
img{
    height:200px;
    width:200px;
    
}